/* Стили для карты */
body, html {
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    height: 100%; /* Высота на 100% для body и html */
}

.map-container {
    width: 100%; /* Ширина контейнера на 100% */
    height: 100%; /* Высота контейнера на 100% */
    overflow: hidden; /* Скрываем переполнение */
}

.map-image {
    width: 100%; /* Ширина изображения на 100% */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
